body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.split-screen {
    display: flex;
    height: 100vh;
}

.left-side {
    width: 70%;
    overflow: hidden;
}

.left-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-side {
    width: 30%;
    background: #f0f2f5;
}

.login-container {
    width: 100%;
    max-width: 300px;
    padding: 25px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    margin: 0 auto;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 25px;
}

.input-group {
    margin-bottom: 18px;
}

label {
    display: block;
    font-size: 15px;
    margin-bottom: 5px;
    color: #333;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.btn-login {
    width: 100%;
    padding: 10px;
    border: none;
    background: #FFB5B5;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

.btn-login:hover {
    background: #c25b5b;
}

.error {
    color: white;
    background: #e63946;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    text-align: center;
}