<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Connexion</title>

    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/login.js" defer></script>
</head>

<body>
<div class="split-screen">
    <div class="left-side">
        <img th:src="@{/images/login_picture.jpg}" alt="Login Image">
    </div>

    <div class="right-side">
        <h1> Bonjour ! </h1>
        <h2> Veuillez vous connecter afin d'accéder aux fonctionnalités </h2>
        <div class="login-container">
            <h2>Connexion</h2>

            <div id="error-box" class="error" style="display:none;"></div>

            <form id="login-form">
                <div class="input-group">
                    <label>Email</label>
                    <input type="email" id="email" required />
                </div>

                <div class="input-group">
                    <label>Mot de passe</label>
                    <input type="password" id="password" required />
                </div>

                <button type="submit" class="btn-login">Se connecter</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>